#bind form {
	padding: 2.5em;
	margin: 0 4em;
}

#bind div {
	margin: 4em;
	padding: 2.5em;
	border: 2px dashed;
	display: inline-block;
}

#bind p span:first-child {
	display: inline-block;
	font-size: 1.25em;
	background-color: #DDD;
	min-width: 5em;
}