<template name="formBindings">
<section id="bind">
	{{#with binding 'bind_dat_data'}} <!-- do binding for for reactively -->
	<div>
		<p>
			<span>First:</span>&nbsp;<span>{{first_input}}</span>
		</p>
		<p>
			<span>Second:</span>&nbsp;<span>{{second_input}}</span>
		</p>
	</div>
	{{/with}}
	{{#with binding 'bind_dat_data' false}} <!-- do binding for form non-reactive -->
	<form name="bind_dat_data" id="bind_dat_data">	
		<label for="first_input">First Input: </label>
		<p>
			<input id="first_input" type="text" name="first_input" value="{{first_input}}">
		</p>
		<label for="second_input">Second Input: </label>
		<p>
			<input id="second_input" type="text" name="second_input" value="{{second_input}}">
		</p>
	</form>
	{{/with}}
</section>
</template>